!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title WilyKit
    %link{:rel=>"shortcut icon", :href=>"favicon.ico"}/
    %link{:title=>"Home", :type=>"text/html", :href=>"/"}
    %link{:title=>"Baisics", :type=>"text/html", :href=>"/basics"}
    %link{:title=>"Source", :type=>"text/html", :href=>"/https://github.com/robertjwhitney/wilykit"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/style.css", :media=>"screen"}
  %body